/*全局颜色*/

// 主色
$brand-orange: #ffe300;
// 文字
$text-dark: #282828;
$text-ddark: #333;
$text-222: #222;
$text-666: #666;
$text-gary: #999;
$text-lgary: #f4f4f4;
$text-llgary: #bbb;
$text-while: #ffffff;
// 线
$line-gary: #eee;
$line-red: #ff6e78;
$line-ddd: #dddddd;
// 投影
$shadow-red: #f4273c;
$shadow-gary: #efefef;
$color-fff: #ffffff;
$color-f4f4f4: #f4f4f4;